@import './variables.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @background-page;
  padding: 20px;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

